<html lang="en">
<%- include("./partials/head.ejs") %>

    <body>
        <!---------------------Search-------------------------------->
        <input type="text" id="myInput" onkeyup="Search()" placeholder="Search for Shops......." class="collection_text">

        <table id="myTable">
            <tr class="header">
                <th style="width: 100%;">Name</th>
            </tr>
            <tr>
                <td>Cat</td>
            </tr>
            <tr>
                <td>Activ</td>
            </tr>
            <tr>
                <td>Puma</td>
            </tr>
            <tr>
                <td>Adidas</td>
            </tr>
            <tr>
                <td>Nike</td>
            </tr>
            <tr>
                <td>Art Work</td>
            </tr>
            <tr>
                <td>Daily Dress</td>
            </tr>
            <tr>
                <td>Polo</td>
            </tr>
            <tr>
                <td>BATTA</td>
            </tr>
            <tr>
                <td>Rock</td>
            </tr>
            <tr>
                <td>Tiger</td>
            </tr>
            <tr>
                <td>Pull & Bear</td>
            </tr>
            <tr>
                <td>Timberland</td>
            </tr>
            <tr>
                <td>Reebok</td>
            </tr>
            <tr>
                <td>Van's
                    <td>
            </tr>
            <tr>
                <td>Crocks
                    <td>
            </tr>
            <tr>
                <td>Caterpillar
                    <td>
            </tr>

        </table>
        <%- include("./partials/footer.ejs") %>


            <script>
                function Search() {

                    // Declare variables
                    var input, filter, table, tr, td, i, txtValue;
                    input = document.getElementById("myInput");
                    filter = input.value.toUpperCase();
                    table = document.getElementById("myTable");
                    tr = table.getElementsByTagName("tr");
                    for (i = 0; i < tr.length; i++) {
                        td = tr[i].getElementsByTagName("td")[0];
                        if (td) {
                            txtValue = td.textContent;
                            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                                tr[i].style.display = "";
                            } else {
                                tr[i].style.display = "none";
                            }
                        }
                    }
                }
            </script>

    </body>

</html>